body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: #9c0642;
  color: rgb(77, 9, 9);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: rgb(31, 131, 26);
  margin-left: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

#lista-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
}

/* Responsividade */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #lista-projetos {
    flex-direction: column;
    align-items: center;
  }
}